extends layout

block content

    h1=title

    form(action="POST" action='') 
        .form-group
            label(for='name') Name of the Electronics:
            input#name.form-control(type='text' placeholder='Name' name='name' required='true' value=(undefined===electronics ? '':electronics.name))
            label(for='description') Description:
            input#description.form-control(type='text' placeholder='Description' name='description' required='true' value=(undefined===electronics ? '':electronics.description))

    if error
        ul
            for error in erros
                li != error.msg